@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@include textfield.core-styles;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --md-sys-color-primary: #001a4d;
  --md-outlined-text-field-label-text-color: #001a4d;
  --md-sys-typescale-body-large-font: "Poppins", sans-serif;
  --md-sys-color-outline: #001a4d;
  --md-outlined-text-field-input-text-color: #8099cc;
  --md-outlined-text-field-input-text-size: 14px;
  --root-fontSize: 16px;
  --yello-gradient: linear-gradient(
    90deg,
    rgba(252, 242, 201, 1) 0%,
    rgba(255, 204, 0, 1) 48%,
    rgba(207, 166, 0, 1) 100%
  );
  --light-yello: rgb(252, 242, 201);
  --light-blue: #8099cc;
  --very-light-blue: #ccd6eb;
  --background-white: #fcfcfc;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none !important;
}

body,
html {
  max-width: 100vw;
  overscroll-behavior: none;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: var(--root-fontSize);
}

body {
  font-family: "Poppins" !important;
  background-color: var(--background-white) !important;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.hero-section {
  height: 100vh !important;
  position: sticky;
}
h1 {
  font-family: "Poppins", sans-serif;
}

.btn-primary,
.btn {
  background: var(--light-yello);
  background: var(--yello-gradient);
  border: solid 1px rgb(0, 0, 0) !important;
  border-radius: 0 !important;
}

.update-btn {
  border: solid 1px rgb(255, 255, 255) !important;
}

.navbar {
  // transform: translateY(-20%) !important;
  transition: transform 1s ease-in-out;
}

.update-navbar {
  background-color: var(--background-white);
  box-shadow: -2px 1px 15px 0px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: -2px 1px 15px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: -2px 1px 15px 0px rgba(0, 0, 0, 0.06);
  // transform: translateY(0) !important;
}

.black-text span {
  color: black;
}

.navBtnBorder {
  width: fit-content;
  position: relative;
  border: solid rgb(255, 221, 86) !important;
  overflow: hidden;
}

.navBtnBorder:active {
  transform: scale(0.95);
}

.navBtnBorder[data-animated="true"] {
  animation: glow 5s infinite;
}

.side-menu-contact div {
  display: flex;
}
.side-menu-contact a {
  color: var(--light-blue);
  font-size: 0.8rem;
}

.Hero-BG {
  width: 100% !important;
  height: 100% !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover !important;
}

.carousel-inner {
  height: 100% !important;
}

.Hero-BG::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.heroContent {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .heroH1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .shining-text {
    background: var(--light-yello);
    background: var(--yello-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 200% auto;
    animation: shine 3s linear infinite running;
  }
  .typing-texts {
    height: 5vw !important;
  }
}

.fade-right-animation {
  animation: fade-right 0.5s ease-out forwards;
  opacity: 0;
}

.delay-1 {
  animation-delay: 0.2s;
}

.fade-in {
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.bounce {
  animation: bounce 1s linear 0s infinite !important;
  animation-delay: 3s !important;
}

.media-icons {
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.icon-hover:hover {
  color: #ffcc00 !important;
}

.hidden {
  opacity: 0 !important;
  transform: translateY(30%);
  transition: all 1s;
  transition-delay: 0;
}

.show-hidden {
  opacity: 1 !important;
  transform: translateY(0);
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
}

.explicitPosition {
  top: 0;
  left: 0;
  right: 0;
}

.text-dark-custom {
  --dark-custom-color: #001a4d;
  color: var(--dark-custom-color) !important;
}

.technology-icons svg {
  filter: grayscale(100%);
  max-width: 8rem;
  opacity: 50%;
}

.technology-icons svg:hover {
  filter: grayscale(0);
  opacity: 1;
}

.core-values .row {
  justify-content: center;
  gap: 15px;
}

.core-values-col {
  box-shadow: rgba(100, 100, 111, 0.05) 0px 7px 29px 0px;
  background-color: #fcfcfc;
  transition: box-shadow 0.5s ease-in-out;
}

.core-values svg {
  width: 7.619047619047619vw;
  height: auto;
}

.contact form {
  width: 25.178571428571427vw;
}

.contact a {
  text-decoration: none !important;
  color: var(--dark-custom-color);
  cursor: pointer;
}

.contact .layout-margin {
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px) !important;
}

md-outlined-text-field {
  resize: vertical !important;
}

.form-group {
  margin-bottom: 30px;
}

.contactUsLogo {
  width: 14.821428571428571vw;
  height: auto;
}
.scroller {
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);

  .scroller-inner {
    -webkit-animation: scroll var(--_animation-duration, 70s) linear infinite;
    animation: scroll var(--_animation-duration, 70s)
      var(--_animation-direction, running) linear infinite;
    width: max-content;
  }
}

.scroller-inner[data-direction="right"] {
  --_animation-direction: reverse;
}
.carousel-indicators {
  position: relative !important;
  order: 2;
  margin: 0 !important;
}

.carousel-indicators [data-bs-target] {
  background-color: #003399 !important;
  border-radius: 100%;
  height: 10px !important;
  width: 10px !important;
  margin: 8px !important;
}

.carousel-control-next,
.carousel-control-prev {
  width: auto !important;
  position: relative !important;
}

.carousel-control-prev-icon {
  background-image: url("/icons8-back-32.png") !important;
}
.carousel-control-next-icon {
  background-image: url("/icons8-forward-32.png") !important;
}

.faq figure {
  margin-bottom: 0 !important;
}

.Office-Address {
  flex: 1;
}

.modal {
  scroll-behavior: smooth !important;
}

.modal,
.modal-backdrop {
  z-index: 5000 !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-end;
}

.modal-dialog {
  margin: 0 !important;
  width: 70% !important;
  right: 0 !important;
  border: none !important;
  height: 100% !important;
}

.services-modal .modal-dialog {
  width: 100% !important;
  max-width: 100% !important;
  background-color: transparent !important;

  .modal-header {
    position: absolute;
    right: 0;
    border: none !important;
    z-index: 5000;
  }

  .modal-content {
    background-color: transparent !important;
  }
  .modal-body {
    padding: 0 !important;
    background-color: transparent !important;
  }
  .modal-body > div {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 30% 70%;
    background-color: transparent;
    .service-modal-navs {
      box-shadow: rgba(0, 0, 0, 0.09) 0px 7px 29px 0px !important;
      .buttons-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 8.375rem 0 0 0;
      }
      button {
        width: 70%;
        border-top-left-radius: 20.96px;
        border-bottom-left-radius: 20.96px;
        padding-left: 5px;
        height: 5.875rem;
        color: var(--light-blue) !important;
        font-weight: 500;
        font-size: 1.2rem;
        border: none;
        background-color: transparent !important;
        transition: all 0.3s ease-in;
      }

      button.activeService {
        background-color: var(--background-white) !important;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 7px 29px 0px !important;
      }
    }

    figure {
      margin: 8.375rem 3.563rem 3.375rem 7.563rem;
      max-width: 898px;
    }
  }
}

.modal-content {
  border-radius: 0 !important;
  height: 100% !important;
  border: none !important;
}

.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out !important;
  transform: translateX(0%) !important;
}

@media (max-width: 767px) {
  body,
  html {
    --root-fontSize: 1rem !important;
  }

  .logo {
    width: 100%;
    max-width: 7rem;
    height: auto;
  }

  .nav-links a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links a span svg {
    color: #001a4d !important;
  }

  a.active {
    color: var(--light-blue) !important;
  }

  h5 {
    font-size: 2rem !important;
    // word-break: break-word;
    // word-break: break-all;
  }

  .technology-icons svg {
    max-width: 6.125rem !important;
  }

  .layout-padding {
    padding: 0 10px !important;
  }
  .layout-margin {
    margin-right: 10px !important;
    margin-left: 10px !important;
  }

  .heroH1 {
    top: 50%;
    left: 0 !important;
    transform: translate(0, -50%) !important;
    flex-wrap: wrap;

    h1 {
      font-size: 2.8rem !important;
    }
    p {
      font-size: 0.7rem !important;
      max-width: 80% !important;
    }
  }

  .media-icons {
    position: static;
  }

  .services-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 8.2rem;
    grid-gap: 24px;
  }

  .modal-body > div {
    width: 100%;
    height: 100%;
    grid-template-columns: 100% !important;
  }

  .service-title {
    font-size: 1rem !important;
  }
  .aboutUs-description,
  .faq-description {
    max-width: 375px !important;
  }
  .aboutUs-description section p,
  .faq section p {
    font-size: 1rem;
    text-align: center;
  }
  .aboutUs-description h5,
  .faq-description h5 {
    font-size: 1.5rem !important;
  }

  .aboutUs-description header p,
  .faq-description header p {
    font-size: 0.8rem !important;
  }

  .core-values-col {
    width: 50vw !important;
    box-shadow: rgba(100, 100, 111, 0.09) 0px 7px 29px 0px;
  }
  .core-values span.title {
    font-size: 4vw;
  }
  .core-values svg {
    width: 17.619047619047619vw;
  }

  .vision figcaption {
    max-width: 350px !important;
    font-size: 1rem !important;
    text-align: center !important;
  }

  .contact form {
    width: 100% !important;
  }

  .faq figure span {
    margin-left: 3px !important;
    margin-right: 3px !important;
  }

  .services-modal figure {
    margin-right: 10px !important;
    margin-left: 10px !important;
  }
}

// Ipad screens
@media screen and (min-width: 768px) and (max-width: 991px) {
  body,
  html {
    --root-fontSize: max(0.125rem, min(1.3333vw + 0.1rem, 10rem)) !important;
  }

  .layout-padding {
    padding: 0 2.7777777777777777vw !important;
    margin: 0 !important;
  }

  .layout-margin {
    margin-right: 2.7777777777777777vw !important;
    margin-left: 2.7777777777777777vw !important;
  }

  .nav-links {
    font-size: 1.2rem !important;
  }
  .core-values-col {
    box-shadow: rgba(100, 100, 111, 0.09) 0px 7px 29px 0px;
  }

  .services-grid {
    grid-template-columns: repeat(2, 35%);
    grid-gap: 24px;
    justify-content: space-evenly;
  }

  .service-title {
    font-size: 1.6rem !important;
  }
  .aboutUs-description section p,
  .faq-description section p {
    text-align: center;
    font-size: 1.4rem !important;
  }

  .aboutUs-description,
  .faq-description {
    max-width: 700px !important;
  }

  .col-md-4 {
    flex: 0 0 auto !important;
    width: 33.33333333% !important;
  }

  .core-values-col {
    margin: auto !important;
  }

  .core-values span.title {
    font-size: 1.4rem;
  }

  .vision figcaption {
    width: 80% !important;
    font-size: 1.4rem !important;
    text-align: center !important;
  }

  .contact form {
    min-width: 18.875rem;
  }
}

@media (min-width: 992px) {
  body,
  html {
    --root-fontSize: 16px !important;
  }
  .layout-padding {
    padding: 0 8vw !important;
  }

  .layout-margin {
    margin-right: 8vw !important;
    margin-left: 8vw !important;
  }

  .col-lg-6 {
    width: 20.357142857142858vw !important;
  }

  .service0 {
    transition-delay: 50ms !important;
  }

  .service1 {
    transition-delay: 100ms !important;
  }

  .service2 {
    transition-delay: 150ms !important;
  }

  .service3 {
    transition-delay: 200ms !important;
  }

  .service4 {
    transition-delay: 250ms !important;
  }

  .service5 {
    transition-delay: 300ms !important;
  }

  .core-values-col {
    margin: 0 !important;
    flex: 1 !important;
  }

  .core-values-col:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .core0 .bulb-bottom {
    fill: white;
    transition: fill 0.8s ease;
  }
  .core0:hover .bulb-bottom {
    fill: var(--dark-custom-color) !important;
  }

  .core0 .bulb-top {
    fill: transparent;
    stroke: "#001133";
    transition: fill 0.8s ease, stroke 0.8s ease;
  }
  .core0:hover .bulb-top {
    stroke: transparent;
    fill: #ffd42b !important;
  }

  .vision figcaption {
    max-width: 50% !important;
  }
}

// Desktop Screens
@media screen and (min-width: 992px) and (max-width: 1400px) {
  .service-title {
    font-size: 1.9047619047619047vw !important;
  }
}

// TV screens or Desktop screens and beyond
@media screen and (min-width: 1401px) {
  // .service-box {
  //   width: 20.357142857142858vw !important;
  //   max-width: none !important;
  // }

  // .service-title {
  //   font-size: 1.9047619047619047vw !important;
  // }

  .about article picture {
    width: 32.67857142857143vw !important;
    max-width: none !important;
  }
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none !important;
  }
}

// Animation KeyFrames ///////////////////////////////////////////////////
@keyframes scroll {
  to {
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
  }
}

@keyframes shine {
  to {
    background-position: 200% 0;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0px -10px 10px rgba(255, 221, 86, 0.8),
      0px 10px 10px rgba(255, 221, 86, 0.6),
      10px 0px 10px rgba(255, 221, 86, 0.4),
      -10px 0px 10px rgba(255, 221, 86, 0.4);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

@keyframes fade-right {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
